openapi: 3.0.1
info:
  title: 在线面试平台
  description: >
    相关约定：

    1. 状态码：为简化设计，除了 `200:OK`（请求成功时）和 `401:Unauthorized`（登录时账号或密码不正确，或请求时 token
    不正确时）外，其他的报错都返回 `422:Unprocessable Entity`，但返回 422 的同时须在 body
    中返回报错信息供客户端显示（若客户端在使用部分接口时，需对都返回 422 的不同结果做区分，则再对相关接口另行设置状态码）；

    2. 角色 int2str：`["admin", "HR", "interviewer", "interviewee"]`；

    3. 面试评分（面试官给的，每场都有）int2str：`["S", "A", "B", "C", "D"]`；

    4. 面试结果（HR 给的，每场都有）int2str：`["Pending", "Approved", "Rejected"]`。
  license:
    name: AGPL
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
  version: 1.0.0
servers:
  - url: 'https://interview.wangrc.top/api'
tags:
  - name: user
    description: 和用户相关的操作
  - name: interview
    description: 和面试相关的操作
  - name: run
    description: 代码运行
paths:
  /login:
    post:
      tags:
        - user
      summary: 登录，获取 token 和用户信息
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  role:
                    type: integer
                  token:
                    type: string
                  expires:
                    type: integer
                    description: 有效期（单位：秒）
        '401':
          description: 账号或密码错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                      - 账号或密码错误
        '422':
          $ref: '#/components/responses/Unprocessable'
  /logout:
    post:
      tags:
        - user
      summary: 退出，使 token 失效。token 无效并不报错
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 退出成功
  /interviewee:
    get:
      tags:
        - user
      summary: 批量获取候选人信息
      description: 权限：current_user.role == admin
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: TODO
                  properties:
                    email:
                      type: string
                    name:
                      type: string
                    application_result:
                      type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /user:
    get:
      tags:
        - user
      summary: 批量获取用户信息
      description: 权限：TODO
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: TODO
                  properties:
                    id:
                      type: integer
                    email:
                      type: string
                    role:
                      type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
    post:
      tags:
        - user
      summary: 添加用户
      description: 添加（一或多个）用户（HR、interviewer）。权限：current_user.role == admin
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                  password:
                    type: string
                  role:
                    type: integer
      responses:
        '200':
          description: 添加成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/user/{id}':
    get:
      deprecated: true
      tags:
        - user
      summary: 获取指定用户信息
      description: 权限：TODO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                description: TODO
                properties:
                  id:
                    type: integer
                  email:
                    type: string
                  role:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/user/{id}/password':
    put:
      tags:
        - user
      summary: 修改密码
      description: 权限：current_user.id == id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
      responses:
        '200':
          description: 修改成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/user/{id}/free_time':
    get:
        tags:
          - user
        summary: 获取个人空闲时间
        description: 权限：current_user.id == id && current_user.role == interviewer
        parameters:
          - name: id
            in: path
            required: true
            schema:
              type: integer
          - name: X-Token
            in: header
            schema:
              type: string
        responses:
          '200':
            description: 获取成功
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    free_time:
                      type: string
          '401':
            $ref: '#/components/responses/Unauthorized'
          '422':
            $ref: '#/components/responses/Unprocessable'
    put:
      tags:
        - user
      summary: 修改个人空闲时间
      description: 权限：current_user.id == id && current_user.role == interviewer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                free_time:
                  type: string
      responses:
        '200':
          description: 修改成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/user/application_result':
    put:
      tags:
        - user
      summary: 设置申请结果
      description: 同时也要给候选人发邮件通知这个结果。权限：current_user.role == HR && (current_user, interviewee) in HRAssignInterviewee
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                interviewee:
                  type: string
                application_result:
                  type: integer
      responses:
        '200':
          description: 设置成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/user/{id}/assignment':
    get:
      tags:
        - user
      summary: 获取分配给 HR 的面试官和面试者
      description: 获取分配情况：HR - 面试官间，HR - 面试者间。权限：current_user.role == HR && (current_user, interviewer) in HRAssignInterviewer && (current_user, interviewee) in HRAssignInterviewee
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: HR 的 id
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  interviewers:
                    type: array
                    description: 被分配到此 HR 手中的面试官们的 id
                    items:
                      type: integer
                  interviewees:
                    type: array
                    description: 被分配到此 HR 手中的面试者们的 email, name, application_result
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                        name:
                          type: string
                        application_result:
                          type: integer
                      
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /user/assign/interviewer:
    post:
      tags:
        - user
      summary: 添加分配
      description: 添加分配：HR - 面试官间。权限：current_user.role == admin
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hr:
                  type: integer
                interviewer:
                  type: integer
      responses:
        '200':
          description: 添加成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /user/assign/interviewee:
    post:
      tags:
        - user
      summary: 添加分配
      description: 添加分配：HR - 候选人间。权限：current_user.role == admin
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hr:
                  type: integer
                interviewee:
                  type: string
                  description: interviewee 的 email
      responses:
        '200':
          description: 添加成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /interview:
    get:
      tags:
        - interview
      summary: 批量获取面试信息
      description: 权限：TODO
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: TODO
                  properties:
                    id:
                      type: integer
                      description: 本场面试的 id
                    hr:
                      type: integer
                    interviewer:
                      type: integer
                    interviewee:
                      type: string
                    token:
                      type: string
                      description: 若请求者的身份为面试官或面试者，则应当是与之对应的 token，若请求者身份为 HR，则应当是空字符串
                    start_time:
                      description: UTC timestamp
                      type: integer
                    length:
                      description: 单位：分钟
                      type: integer
                    status:
                      type: string
                      enum:
                       - upcoming
                       - active
                       - ended
                    rate:
                      type: integer
                      description: 面试官对本次面试的打分。若面试状态不是 ended，则应当是 200
                    comment:
                      type: string
                      description: 面试官对本次面试的评价。若面试状态不是 ended，则应当是空字符串
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
    post:
      tags:
        - interview
      summary: 添加面试
      description: 同时也要给候选人和面试官发通知面试的邮件，邮件里的面试链接有各自的 token，权限：current_user.id == hr && (current_user, interviewer) in HRAssignInterviewer && (current_user, interviewee) in HRAssignInterviewee
      parameters:
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hr:
                  type: integer
                interviewer:
                  type: integer
                interviewee:
                  description: interviewee 的 email
                  type: string
                start_time:
                  description: Unix Timestamp
                  type: integer
                length:
                  description: 单位：分钟
                  type: integer
      responses:
        '200':
          description: 添加成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/interview/{id}':
    get:
      tags:
        - interview
      summary: 获取指定面试信息
      description: 权限：TODO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                description: TODO
                properties:
                  id:
                    type: integer
                    description: 本场面试的id
                  hr:
                    type: integer
                  interviewer:
                    type: integer
                  interviewee:
                    type: string
                  start_time:
                    description: UTC timestamp
                    type: integer
                  length:
                    description: 单位：分钟
                    type: integer
                  status:
                    type: string
                    enum:
                      - upcoming
                      - active
                      - ended
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/interview/{id}/verify':
    get:
      tags:
        - interview
      summary: 校验面试的 token 信息，获取连接密码
      description: 权限：TODO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 校验成功
          content:
            application/json:
              schema:
                type: object
                description: TODO
                properties:
                  role:
                    type: integer
                  password:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/interview/{id}/evaluation':
    put:
      tags:
        - interview
      summary: 添加面试评价
      description: 权限：Interview(id).interviewer == current_user.id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate:
                  type: integer
                comment:
                  type: string
      responses:
        '200':
          description: 设置成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/interview/{id}/status':
    put:
      tags:
        - interview
      summary: 设置面试状态
      description: 权限：Interview(id).interviewer == current_user.id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                   - upcoming
                   - active
                   - ended
                  
      responses:
        '200':
          description: 设置成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  '/interview/{id}/history/[chat|whiteboard|code]':
    get:
      tags:
        - interview
      summary: 获取聊天记录
      description: >-
        当 `scope=latest` 时返回 [Chat|Whiteboard|Code]History 表里对应 id 的时间戳最大的记录（长为
        1 的数组），`scope=all` 时返回 [Chat|Whiteboard|Code]History 表里对应 id
        的所有记录。若无对应记录，`scope=latest` 和 `scope=all` 都返回空数组。权限：TODO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
            enum:
              - all
              - latest
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    time:
                      type: integer
                      description: UTC timestamp but in milliseconds
                    data:
                      type: object
                      description: Simply json.loads()
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
    post:
      tags:
        - interview
      summary: 添加聊天记录
      description: >-
        请求体内容由 client 维护，后台直接把 `(id, datetime.utcnow, json.dumps(request.body))`
        插入到 `[Chat|Whiteboard|Code]History` 表，权限：TODO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Token
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 直接将 request body 插入数据库
      responses:
        '200':
          description: 插入成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /oj-interface/result:
    post:
      tags:
        - run
      summary: 代码运行
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  enum:
                    - c
                    - cpp
                    - python
                code:
                  type: string
                input:
                  type: string
      responses:
        '200':
          description: 提交成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                      - Run Success
                      - Time Limit Exceed
                      - Compile Error
                      - Runtime Error
                      - System Error
                  result:
                    type: string
        '422':
          $ref: '#/components/responses/Unprocessable'
components:
  responses:
    Unauthorized:
      description: token 信息无效
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                enum:
                  - token 信息无效
    Unprocessable:
      description: 请求失败（General，应在 message 中附上报错信息）
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
